@using Entity.Concrete
@model IList<Comment>

@{
    var user = ViewBag.PageState as User;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img style="width:100%; max-height:400px; object-fit:contain;"
                 src="https://greengroundswell.com/wordpress/wp-content/uploads/2018/02/Colored-Comment-Bubbles-on-Blue-Background-1024x551.jpg" />
        </div>
        <div class="col-lg-12 mt-5">
            <h3 style="color:#e5345b;">Şirketimiz Hakkındaki Yorumlar</h3>
            <p>
                Şirketimiz hakkında yapılan yorumlar yer almaktadır. Sizde isterseniz istek şikayet gibi durumlarınız belirtip yorum atabilirsiniz.
            </p>

            @foreach (var comment in Model)
            {
                <div class="col-lg-12">
                    <div class="alert alert-dark bg-white shadow" role="alert">
                        <img style="border-radius:50%; width:35px; height:35px; object-fit:cover;"
                         src="~/Admin/dz-img/user-img/@comment.User.Image" />
                        <span class="ms-1">@comment?.User?.UserName</span>
                        <p class="mt-3">@comment.Description</p>
                        <h6 class="float-end" style="color:darkgray;">
                            <button style="border:none; background-color:white;" class="btn-Like" data-id="@comment.ID">
                                <i class="fa-regular fa-thumbs-up"></i> 
                                <span class="me-4">@comment.LikeCount</span>
                           </button>
                            Puan:
                            @for (int star = 1; star <= comment.Star; star++)
                            {
                                <i class="fa-solid fa-star" style="color:#e5345b;"></i>
                            }
                            @for (int star = 5; star > comment.Star; star--)
                            {
                                <i class="fa-regular fa-star"></i>
                            }
                        </h6>
                        <div class="clearfix"></div>
                    </div>
                </div>
            }
            @if (user != null)
            {
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">Mesajınız</label>
                        <textarea class="form-control message" rows="10" placeholder="Mesajınız.."></textarea>
                    </div>
                    <button type="submit" style="width:100%;" class="btn btn-primary btn-block btn-save">Gönder</button>
                </div>
            }
            else
            {
                <div class="col-lg-12 mt-5">
                    <p>
                        Yorum yapmak için üye girişiniz olmalı. Üyeliğiniz varsa <a href="#">giriş yapın</a>
                        <br>
                        Üyeliğiniz yok ise <a href="#">üye olun</a>
                    </p>
                </div>
            }
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".btn-save").click(function(e) {
                e.preventDefault(); // kendi click eventi çalışmayacak hale gelir.
                const message = $(".message").val();
                const url = '@Url.Action("AddComment","Home")';
                $.post(url, { msg: message }).done(function(data) {
                    var stringifyData = JSON.stringify(data); // "key":"data"
                    var jsonData = jQuery.parseJSON(stringifyData); //jsObject
                    if (jsonData.isSuccess == true) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Başarıyla Eklendi',
                            text: 'Yorum Başarıyla Eklendi'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload(true);
                            }
                        });
                    }
                });
            });
            $(".btn-Like").click(function(e) {
                e.preventDefault(); // kendi click eventi çalışmayacak hale gelir.
                const id = $(this).attr('data-id');
                const url = '@Url.Action("AddCommentLike","Home")';
                $.post(url, { Id: id }).done(function(data) {
                    var stringifyData = JSON.stringify(data); // "key":"data"
                    var jsonData = jQuery.parseJSON(stringifyData); //jsObject
                    if (jsonData.isSuccess == true) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Başarıyla Eklendi',
                            text: 'Beğenildi'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload(true);
                            }
                        });
                    }
                });
            });
        });
    </script>
}